body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Ensure a vertical column layout */
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator-heading {
    text-align: center;
    margin-bottom: 10px;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.calculator-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    margin-top: 10px;
}


.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history-list {
    padding: 0;
    margin: 0;
}

.history-list li {
    margin-bottom: 5px;
    list-style-type: disc; /* or list-style-type: circle; or list-style-type: square; */
}

.input-output-container {
    display: flex;
}

.input-display,
.output-display {
    border: 1px solid #ccc;
    padding: 8px;
    flex: 1;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}
